<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
   <meta charset="UTF-8">
   <title>Landing page</title>
   <link href = 'style.css' rel="stylesheet"/>
   <link href="mediaqueries.css" rel="stylesheet" />
   <link href="Libraries/bootstrap.css" rel="stylesheet" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
   <script src="Libraries/angular.js"></script>
   <script src="js/angular_route.js"></script>
   <script src="main.js"></script>
   <script src="js/angular-smooth-scroll.js"></script>
   <script src="js/angular-scroll-spy.js"></script>
   <script src="js/angular-countUp.js"></script>
   <script src="js/countUp.js"></script>
   <!--<script src="js/count-to.js"></script>-->
   <!--<script src="js/numbers.js"></script>-->
</head>
<body>
<div class="wrapper">
<header id="header" ng-controller="headerCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-4 col-sm-4 col-sm-4 col-xs-4">
            <image id="header-logotype" src="images/ket.jpg"></image>
         </div>
         <div class="col-md-8 col-sm-8 col-sm-8 col-xs-8">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="nav-content"><button class="header-link" ng-click="show('home-page')">HOME</button></div></div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="nav-content"><button class="header-link" ng-click="show('services')">SERVICES</button></div></div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="nav-content"><button class="header-link" ng-click="show('portfolio')">PORTFOLIO</button></div></div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="nav-content"><button class="header-link" ng-click="show('about-us')">ABOUT</button></div></div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="nav-content"><button class="header-link" ng-click="show('news')">NEWS</button></div></div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="nav-content"><button class="header-link" ng-click="show('contact-us')">CONTACTS</button></div></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<div ng-view id="main-content">
</div>
<div id="footer-2" ng-controller="footerCtrl">
   <div id="Copyright">

      <button id="buttFoot" ng-click="show('home-page')"> <i class="fa fa-angle-up" aria-hidden="true"></i> </button>
      &#169 2014 - Kat all right reserved
   </div>
</div>
</div>
</body>
</html>