<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

   <div class="team-img">
      <img src="{{member.src}}">
   </div>
   <div class="team-speciality">
      <h4 class="team-name"> {{member.name}}</h4>
      <h5 class="team-speciality-caption" >{{member.speciality}}</h5>
   </div>
   <div class="team-skills">
      <p class="text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore</p>
   </div>
   <div class="networks">
      <div class="network1">
         <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="network2">
         <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="network3">
         <i class="fa fa-dribbble" aria-hidden="true"></i>
      </div>
      <div class="network4">
         <i class="fa fa-google-plus" aria-hidden="true"></i>
      </div>
   </div>
</div>