<div id="home-page">
   <div id="home-content">
      <p class="home-text"> WE MAKE WEBSITES </p>
      <p class="home-text"> <button id="buttonWeb"> <p id="startTour"> START TOUR </p> </button> </p>
   </div>
</div>

<div id="services" ng-controller="servicesCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-2 col-md-2"></div>
         <div ng-repeat="service in services" class=" col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div class="img-container">
               <img class="services-img" src="{{service.src}}" ng-click="showServiceInf(service.dataClick)">
            </div>
            <h3 class="h3-caption">{{service.name}}</h3>
         </div>
      </div>

      <div id='service-feature-container' class="row" ng-switch on="displayValue">
         <div ng-switch-when="web-service">
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-xs-1" id="service-feature-1-1"></div>
            <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2" id="service-feature-1-2"></div>
            <div class="col-lg-1  col-md-1 col-sm-1  col-xs-1" id="service-feature-1-3"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-1-4"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1  col-xs-1" id="service-feature-1-5"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-1-6"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" id="service-feature-1-7"></div>
         </div>
         <div ng-switch-when="graphic-service">
            <div class="col-lg-1 col-lg-offset2 col-md-1 col-md-offset-2 col-sm-1 col-xs-1" id="service-feature-2-1"></div>
            <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2" id="service-feature-2-2"></div>
            <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1" id="service-feature-2-3"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-2-4"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1  col-xs-1" id="service-feature-2-5"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-2-6"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" id="service-feature-2-7"></div>
         </div>
         <div ng-switch-when="programming-service">
            <div class="col-lg-1 col-lg-offset2 col-md-1 col-md-offset-2 col-sm-1 col-xs-1" id="service-feature-3-1"></div>
            <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2" id="service-feature-3-2"></div>
            <div class="col-lg-1  col-md-1 col-sm-1  col-xs-1" id="service-feature-3-3"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-3-4"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1  col-xs-1" id="service-feature-3-5"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-3-6"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" id="service-feature-3-7"></div>
         </div>
         <div ng-switch-when="photography-service">
            <div class="col-lg-1 col-lg-offset2 col-md-1 col-md-offset-2 col-sm-1 col-xs-1" id="service-feature-4-1"></div>
            <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2" id="service-feature-4-2"></div>
            <div class="col-lg-1  col-md-1 col-sm-1  col-xs-1" id="service-feature-4-3"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-4-4"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1  col-xs-1" id="service-feature-4-5"></div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-2" id="service-feature-4-6"></div>
            <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" id="service-feature-4-7"></div>
         </div>
      </div>

      <div class="row" ng-switch on="displayValue">
         <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-switch-when="web-service">
            <p class="text1">
               web
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
         </div>
         <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-switch-when="graphic-service">
            <p class="text1">
               graphic
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
         </div>
         <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-switch-when="programming-service">
            <p class="text1">
               programming
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
         </div>
         <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-switch-when="photography-service">
            <p class="text1">
               photography
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
         </div>
      </div>
   </div>
</div>

<div id="responsive">
   <div class="container-fluid">
      <div class="row">
         <div id="responsive-tab1" class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-6 col-xs-6">START TOUR</div>
         <div  id="responsive-tab2" class="col-lg-3 col-md-3 col-sm-6  col-xs-3">FOR ALL DEVICES</div>
      </div>
      <div class="row">
         <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-6  col-xs-3"><img id="mobile-img" src="images/mobile.jpg"> </div>
         <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 ">

            <div id="responsive-description">
               <h1 id="h1-caption"> Fully Responsive</h1>
               <p class="text1">  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
               <button id="getNow-butt">GET NOW </button>
            </div>

         </div>
         <div class="col-xs-3 col-md-3"> </div>
      </div>
   </div>
</div>

<div id="portfolio" ng-controller="portfolioCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
            <h1 class="h1-caption2">Our portfolio</h1>
            <hr class="header-line">
            <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud </p>
         </div>
      </div>
      <div class="row" id="portfolio-categories">
         <div class="col-lg-offset-4 col-lg-1 col-md-offset-4 col-md-1 col-sm-3 col-xs-2 category-caption" ng-click="setFilter('all')">ALL</div>
         <div class="col-lg-1 col-md-1 col-sm-3 col-xs-2 category-caption" ng-click="setFilter('web')">WEB</div>
         <div class="col-lg-1 col-md-1 col-sm-3 col-xs-2 category-caption" ng-click="setFilter('photography')">PHOTOGRAPHY</div>
         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 category-caption" ng-click="setFilter('graphics')">GRAPHIC DESIGN</div>
      </div>
      <div class="row" >
         <div ng-if="visibleAll">
            <div ng-repeat='image in images' class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
               <img class="portfolio-img" src="{{image.src}}">
            </div>
         </div>

         <div ng-repeat='image in images |filter:filterFunc' class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <img class="portfolio-img" src="{{image.src}}">

         </div>
      </div>
   </div>
</div>

<div id="about-us" ng-controller="aboutCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
            <h1 class="h1-caption2">We are the one</h1>
            <hr class="header-line">
            <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud </p>
         </div>
      </div>
      <div class="row" id="meet-our-team">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <about-us ng-repeat="member in members" data-member="{{member}}"></about-us>
         </div>
      </div>
   </div>
</div>

<div id="news" ng-controller="newsCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
            <h1 class="h1-caption2">Check our news</h1>
            <hr class="header-line">
            <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud </p>
         </div>
      </div>
      <div class="row" ng-repeat="new in newsArr" id="news-container">
         <div  class="col-xs-2  col-md-2 "> <p class="numbers"> {{new.date}} </p> <p class="month">{{new.date}}</p></div>
         <div class="col-xs-10 col-md-10">{{new.text}}
            <p id="pButtNews">
               <a href="#/news/{{$index}}"><button id="ButtNews"> Read more</button></a>
            </p>
         </div>
      </div>
   </div>
</div>

<div id="contact-us" ng-controller="contactCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
            <h1 class="h1-caption3">Contact us</h1>
            <hr class="header-line">
            <p class="text3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud</p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-offset-3 col-lg-6 ool-md-offset-3 col-md-3 col-sm-12 col-xs-12">
            <form name="contactForm" novalidate>
               <input class='contact-input' type="text" name="userName" ng-model="userName" placeholder="Your name here" required ng-pattern="nameReg">
               <p class="error" ng-show="myForm.userName.$invalid && myForm.userName.$dirty">
                  {{showError(myForm.userName.$error)|| userNameErr}}</p>
               <input class='contact-input' type="text" name="email" ng-model="email" placeholder="Your mail here" required ng-pattern="mailReg">
               <p class="error" ng-show="myForm.email.$invalid && myForm.email.$dirty">
                  {{showError(myForm.email.$error)|| mailErr}} </p>
               <input class='contact-input' type="text" name="message" ng-model="message" placeholder="Your message here" required ng-pattern="messageReg">
               <p class="error" ng-show="myForm.message.$invalid && myForm.message.$dirty">
                  {{showError(myForm.message.$error)|| messageErr}} </p>
               <input class="btn" type="submit" ng-disabled="myForm.$invalid">
            </form>
         </div>
      </div>
   </div>
</div>